.button-success,

.button-error,

.button-warning,

.button-secondary {
color: white;

border-radius: 10px;

text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.button-success {
background: rgb(28, 184, 65); /* this is a green */
margin-left: 60%;
width: 80px;
height: 28px;
}

.button-error {
background: rgb(202, 60, 60); /* this is a maroon */
margin-left: 10%;
width: 120px;
height: 28px;

}

.button-warning {
background: rgb(223, 117, 20); /* this is an orange */

}

.button-secondary {
background: rgb(66, 184, 221); /* this is a light blue */

}


.a{
     width: 300px;
     height: 28px;
}

#b{
     width: 400px;
     border: 1px ;
     text-align: center;        /*右对齐*/·


}

.testswitch {
    position: relative;
    float: left;
    width: 90px;
    margin: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.testswitch-checkbox {
    display: none;
}

.testswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.testswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after {
    display: block;
    float: right;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family:
    Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner::after {
    content: attr(data-on);
    padding-left: 10px;
    background-color: #00e500;
    color: #FFFFFF;
}

.testswitch-inner::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.testswitch-switch {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
    margin-left: 0;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
    right: 0px;
}
